#define SECRET_NTP_SERVER "<FQDN of an NTP server>"
// Below - see https://homieiot.github.io/homie-esp8266/docs/stable/advanced-usage/branding/ for more details
#define SECRET_HOMIE_BRAND "<your HOMIE brand>"
